.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 255 255);
  --md-sys-color-surface-tint: rgb(199 200 183);
  --md-sys-color-on-primary: rgb(48 49 38);
  --md-sys-color-primary-container: rgb(213 214 196);
  --md-sys-color-on-primary-container: rgb(31 32 21);
  --md-sys-color-secondary: rgb(204 203 194);
  --md-sys-color-on-secondary: rgb(22 23 18);
  --md-sys-color-secondary-container: rgb(146 145 137);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(42 50 44);
  --md-sys-color-tertiary-container: rgb(206 215 205);
  --md-sys-color-on-tertiary-container: rgb(25 33 27);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 19 18);
  --md-sys-color-on-background: rgb(229 226 223);
  --md-sys-color-surface: rgb(20 19 18);
  --md-sys-color-on-surface: rgb(254 250 247);
  --md-sys-color-surface-variant: rgb(71 71 64);
  --md-sys-color-on-surface-variant: rgb(204 203 193);
  --md-sys-color-outline: rgb(164 163 154);
  --md-sys-color-outline-variant: rgb(132 132 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 223);
  --md-sys-color-inverse-on-surface: rgb(42 42 41);
  --md-sys-color-inverse-primary: rgb(71 73 60);
  --md-sys-color-primary-fixed: rgb(227 228 210);
  --md-sys-color-on-primary-fixed: rgb(16 18 8);
  --md-sys-color-primary-fixed-dim: rgb(199 200 183);
  --md-sys-color-on-primary-fixed-variant: rgb(53 55 43);
  --md-sys-color-secondary-fixed: rgb(229 227 218);
  --md-sys-color-on-secondary-fixed: rgb(17 18 13);
  --md-sys-color-secondary-fixed-dim: rgb(200 199 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 55 49);
  --md-sys-color-tertiary-fixed: rgb(220 229 219);
  --md-sys-color-on-tertiary-fixed: rgb(11 19 13);
  --md-sys-color-tertiary-fixed-dim: rgb(192 201 192);
  --md-sys-color-on-tertiary-fixed-variant: rgb(48 56 50);
  --md-sys-color-surface-dim: rgb(20 19 18);
  --md-sys-color-surface-bright: rgb(58 57 56);
  --md-sys-color-surface-container-lowest: rgb(14 14 13);
  --md-sys-color-surface-container-low: rgb(28 27 26);
  --md-sys-color-surface-container: rgb(32 32 30);
  --md-sys-color-surface-container-high: rgb(42 42 40);
  --md-sys-color-surface-container-highest: rgb(53 53 51);
  --md-extended-color-custom-color1-color: rgb(214 198 210);
  --md-extended-color-custom-color1-on-color: rgb(28 20 28);
  --md-extended-color-custom-color1-color-container: rgb(155 141 152);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(255 206 198);
  --md-extended-color-custom-color2-on-color: rgb(68 19 11);
  --md-extended-color-custom-color2-color-container: rgb(238 155 140);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
}
