.light {
  --md-sys-color-primary: rgb(94 95 82);
  --md-sys-color-surface-tint: rgb(94 95 82);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(246 246 228);
  --md-sys-color-on-primary-container: rgb(82 84 70);
  --md-sys-color-secondary: rgb(95 95 88);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(233 231 222);
  --md-sys-color-on-secondary-container: rgb(75 75 69);
  --md-sys-color-tertiary: rgb(88 97 89);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(238 247 237);
  --md-sys-color-on-tertiary-container: rgb(76 85 77);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(252 249 246);
  --md-sys-color-on-background: rgb(28 27 26);
  --md-sys-color-surface: rgb(252 249 246);
  --md-sys-color-on-surface: rgb(28 27 26);
  --md-sys-color-surface-variant: rgb(228 227 216);
  --md-sys-color-on-surface-variant: rgb(71 71 64);
  --md-sys-color-outline: rgb(120 119 111);
  --md-sys-color-outline-variant: rgb(200 199 189);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 47);
  --md-sys-color-inverse-on-surface: rgb(244 240 237);
  --md-sys-color-inverse-primary: rgb(199 200 183);
  --md-sys-color-primary-fixed: rgb(227 228 210);
  --md-sys-color-on-primary-fixed: rgb(27 29 18);
  --md-sys-color-primary-fixed-dim: rgb(199 200 183);
  --md-sys-color-on-primary-fixed-variant: rgb(70 72 59);
  --md-sys-color-secondary-fixed: rgb(229 227 218);
  --md-sys-color-on-secondary-fixed: rgb(27 28 23);
  --md-sys-color-secondary-fixed-dim: rgb(200 199 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 71 65);
  --md-sys-color-tertiary-fixed: rgb(220 229 219);
  --md-sys-color-on-tertiary-fixed: rgb(21 29 24);
  --md-sys-color-tertiary-fixed-dim: rgb(192 201 192);
  --md-sys-color-on-tertiary-fixed-variant: rgb(64 73 66);
  --md-sys-color-surface-dim: rgb(221 217 215);
  --md-sys-color-surface-bright: rgb(252 249 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 240);
  --md-sys-color-surface-container: rgb(241 237 235);
  --md-sys-color-surface-container-high: rgb(235 231 229);
  --md-sys-color-surface-container-highest: rgb(229 226 223);
  --md-extended-color-custom-color1-color: rgb(38 29 37);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(71 60 70);
  --md-extended-color-custom-color1-on-color-container: rgb(224 208 220);
  --md-extended-color-custom-color2-color: rgb(142 76 64);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(254 168 153);
  --md-extended-color-custom-color2-on-color-container: rgb(85 31 22);
}
